* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: GilroyRegular;
  src: url("../../fonts/Gilroy-Regular.ttf");
}
@font-face {
  font-family: GilroyMedium;
  src: url("../../fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: GilroyBold;
  src: url("../../fonts/Gilroy-Bold.ttf");
}
@font-face {
  font-family: GilroyExtraBold;
  src: url("../../fonts/Gilroy-ExtraBold.ttf");
}
@font-face {
  font-family: TavolgaFree;
  src: url("../../fonts/Tavolga Free.ttf");
}
.loader {
  position: fixed;
  background: rgba(119, 10, 29, 0.72);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
body {
  font-family: TavolgaFree, sans-serif;
  position: relative;
}
.header {
  background: #d99ca5;
}
.header .header-container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 115px 1fr 147px;
  align-items: center;
  padding-top: 33px;
  padding-bottom: 24px;
}
.header .header-container .logo {
  display: inline-block;
  vertical-align: middle;
  width: 115px;
}
.header .header-container .logo .logo-image {
  max-width: 100%;
}
.header .header-container .burger {
  display: none;
}
.header .header-container .menu {
  justify-self: center;
}
.header .header-container .menu .close {
  display: none;
}
.header .header-container .menu .menu-list {
  list-style: none;
}
.header .header-container .menu .menu-list .menu-item {
  display: inline-block;
  margin: 0 20px;
  border-bottom: 2px solid #d99ca5;
  transition: all 0.5s ease;
}
.header .header-container .menu .menu-list .menu-item .menu-item-ref {
  font-size: 14px;
  font-family: GilroyMedium, sans-serif;
  line-height: 22px;
  color: #620917;
  text-decoration: none;
}
.header .header-container .menu .menu-list .menu-item:first-child {
  margin-left: -115px;
}
.header .header-container .menu .menu-list .menu-item:hover {
  border-bottom: 2px solid #620917;
}
.header .header-container .phone {
  display: flex;
  align-items: center;
}
.header .header-container .phone .phone-number {
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: #ffffff;
}
.button {
  background-image: linear-gradient(0deg, #57091a 0%, #ee4f65 100%);
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  border: 0;
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: #ffffff;
  line-height: 1;
  transition: all 0.5s ease;
}
.button:hover {
  box-shadow: 0 5px 9px 1px #620a1a;
}
.main {
  background: #d99ca5;
  position: relative;
  overflow: hidden;
}
.main .main-container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 125px 20px 108px 0;
  display: grid;
  grid-template-columns: 580px 1fr;
  grid-template-rows: auto auto auto auto;
  justify-content: space-between;
}
.main .main-container .main-title {
  max-width: 580px;
  font-size: 55px;
  color: #ffffff;
  line-height: 1.091;
  margin-bottom: 60px;
}
.main .main-container .main-text {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.389;
  margin-bottom: 80px;
  max-width: 349px;
}
.main .main-container .main-button {
  padding: 21px 44px;
}
.main .main-container .main-image {
  display: flex;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  justify-content: center;
  align-items: center;
}
.main .main-container .main-image .main-image-img {
  max-width: 100%;
  z-index: 2;
}
.main .main-container .main-image::before {
  content: "";
  border-radius: 50%;
  border: 2px solid #620917;
  width: 300px;
  aspect-ratio: 1;
  position: absolute;
  z-index: 1;
  animation: pulse 3s infinite;
}
.main .main-container .main-image::after {
  content: '';
  border-radius: 50%;
  border: 2px solid #620917;
  width: 300px;
  aspect-ratio: 1;
  position: absolute;
  z-index: 1;
  animation: pulse-2 3s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes pulse-2 {
  0% {
    transform: scale(0.75);
    opacity: 0.5;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
.advantages {
  background: #ffefef;
}
.advantages .advantages-container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 120px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.advantages .advantages-container .advantages-info {
  grid-column: 1 / 3;
}
.advantages .advantages-container .advantages-info .advantages-title {
  max-width: 475px;
  font-size: 45px;
  color: #331907;
  line-height: 1.222;
  margin-bottom: 60px;
}
.advantages .advantages-container .advantages-info .advantages-text {
  max-width: 400px;
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: #331907;
  line-height: 1.556;
  margin-bottom: 5px;
}
.advantages .advantages-container .advantages-image {
  grid-column: 3 / 5;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.advantages .advantages-container .advantages-image .advantages-image-img {
  max-width: 100%;
}
.advantages .advantages-container .advantage {
  margin-top: 83px;
  display: grid;
  justify-content: left;
}
.advantages .advantages-container .advantage .advantage-circle {
  border-radius: 50%;
  background-color: #b01a39;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 13px;
  transition: all 0.5s ease;
}
.advantages .advantages-container .advantage .advantage-circle .advantage-number {
  font-size: 60px;
  font-family: GilroyExtraBold, sans-serif;
  line-height: 0.75;
  color: #ffffff;
  transition: all 0.5s ease;
}
.advantages .advantages-container .advantage:hover .advantage-circle {
  font-size: 60px;
  font-family: GilroyExtraBold, sans-serif;
  background: #d99ca5;
  color: #b01a39;
}
.advantages .advantages-container .advantage:hover .advantage-number {
  color: #b01a39;
}
.advantages .advantages-container .advantage .advantage-title {
  font-size: 20px;
  font-family: GilroyExtraBold, sans-serif;
  color: #331907;
  margin-bottom: 20px;
}
.advantages .advantages-container .advantage .advantage-text {
  max-width: 220px;
  height: 100px;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: #331907;
  line-height: 1.333;
}
.products {
  background-color: #d99ca5;
  grid-column: 1 / 2;
}
.products .products-container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 119px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
}
.products .products-container .products-title {
  grid-column: 1 / 5;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 82px;
}
.products .products-container .product {
  width: 263px;
}
.products .products-container .product .product-image {
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .products-container .product .product-image .product-image-img {
  max-width: 100%;
  transition: all 0.5s ease;
}
.products .products-container .product:hover .product-image-img {
  transform: scale(1.12);
}
.products .products-container .product .product-border {
  margin-top: -63px;
  padding: 109px 21px 27px 21px;
  border: 2px solid white;
  border-radius: 20px;
}
.products .products-container .product .product-border .product-title {
  font-size: 18px;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  margin-bottom: 26px;
}
.products .products-container .product .product-border .product-bottom {
  display: flex;
  justify-content: space-between;
}
.products .products-container .product .product-border .product-bottom .product-count-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  line-height: 1;
  font-family: GilroyRegular, sans-serif;
  color: #ffffff;
  padding: 5px 0;
}
.products .products-container .product .product-border .product-bottom .product-button {
  padding: 16px 26px;
}
.order {
  background-color: #ffefef;
}
.order .order-container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 93px;
  padding-bottom: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.order .order-container .order-strawberry-1 {
  position: absolute;
  top: 100px;
  left: 0;
  animation: moving 2s infinite;
  animation-timing-function: linear;
}
.order .order-container .order-strawberry-2 {
  position: absolute;
  bottom: 180px;
  right: 0;
  animation: moving 3s infinite;
  animation-timing-function: linear;
}
@keyframes moving {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(0, 20px);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(0, -20px);
  }
  100% {
    transform: translate(0);
  }
}
.order .order-container .order-image {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.order .order-container .order-image .order-image-img {
  max-width: 100%;
}
.order .order-container .order-form {
  padding-left: 15px;
  max-width: 406px;
}
.order .order-container .order-form .order-form-title {
  font-size: 45px;
  color: #331907;
  margin-bottom: 40px;
}
.order .order-container .order-form .order-form-text {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: #331907;
  line-height: 1.556;
  margin-bottom: 40px;
}
.order .order-container .order-form .order-input {
  position: relative;
  width: 294px;
  border-width: 1px;
  border-color: #b01a39;
  border-style: solid;
  border-radius: 30px;
  padding: 19px 25px;
  box-sizing: border-box;
}
.order .order-container .order-form .order-input .input {
  width: 100%;
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: #620a1a;
  background-color: transparent;
  border: none;
  outline: none;
}
.order .order-container .order-form .order-input .input::placeholder {
  font-size: 15px;
  font-family: GilroyBold, sans-serif;
  color: #620a1a;
}
.order .order-container .order-form .order-input .error-input {
  font-family: Gilroy-Bold, sans-serif;
  position: absolute;
  bottom: 1px;
  left: 30px;
  color: red;
  font-size: 15px;
  display: none;
}
.order .order-container .order-form .order-choose-text {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: #120a06;
  margin-bottom: 21px;
}
.order .order-container .order-form .order-choose-input {
  margin-bottom: 40px;
}
.order .order-container .order-form .order-data-text {
  font-size: 18px;
  font-family: GilroyBold, sans-serif;
  color: #120a06;
  margin-bottom: 22px;
}
.order .order-container .order-form .order-data-name {
  margin-bottom: 15px;
}
.order .order-container .order-form .order-data-phone {
  margin-bottom: 15px;
}
.order .order-container .order-form .order-button {
  padding: 21px 77px;
  box-sizing: border-box;
}
#order-success {
  display: none;
}
#order-success .success-container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
#order-success .success-container .success-text {
  font-size: 45px;
  color: #331907;
  margin-top: 370px;
  margin-bottom: 370px;
}
.footer {
  background-color: #c0707c;
  justify-content: space-between;
}
.footer .footer-container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 70px 0 60px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.footer .footer-container .footer-logo {
  grid-column: 1;
  grid-row: 1;
}
.footer .footer-container .footer-rights {
  grid-column: 1;
  grid-row: 2;
  font-size: 12px;
  font-family: GilroyRegular, sans-serif;
  color: #e3acb4;
}
.footer .footer-container .footer-instagram {
  display: grid;
  grid-column: 2;
  grid-row: 1 / 3;
  justify-items: center;
}
.footer .footer-container .footer-instagram .footer-instagram-img {
  max-width: 100%;
  justify-self: center;
}
.footer .footer-container .footer-instagram .footer-instagram-text {
  font-size: 16px;
  font-family: GilroyBold, sans-serif;
  color: #ffffff;
  justify-self: center;
  padding-top: 15px;
}
.footer .footer-container .phone-number {
  grid-column: 3;
  grid-row: 1;
  align-self: flex-end;
  justify-self: flex-end;
}
.present {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  z-index: 9999;
}
.present .present-image {
  border-radius: 50%;
  background-color: #770a1d;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.5s ease;
}
.present .present-image .present-image-img {
  max-width: 100%;
}
.present .present-image:hover {
  border-radius: 50%;
  box-shadow: 0 0 13px 2px #620a1a;
  cursor: pointer;
}
.present .present-image::before {
  position: absolute;
  content: 'Оформите заказ и получите подарок!';
  border-width: 2px;
  border-color: #770a1d;
  border-style: solid;
  border-radius: 10px;
  background-color: #feefee;
  font-size: 15px;
  font-family: GilroyMedium, sans-serif;
  color: #770a1d;
  top: 15px;
  left: -190px;
  box-sizing: border-box;
  width: 172px;
  padding: 16px 10px 14px 10px;
  transform: translate(0, 110px);
  transition: all 0.5s;
  opacity: 0;
}
.present .present-image::after {
  content: '';
  position: absolute;
  background-image: url("../../images/bubble.png");
  top: 35px;
  left: -20px;
  box-sizing: border-box;
  height: 24px;
  width: 15px;
  transform: translate(0, 110px);
  transition: all 0.5s;
  opacity: 0;
}
.present .present-image:hover::after,
.present .present-image:hover::before {
  transform: translate(0, 0);
  opacity: 1;
}
/* 1024 - 1229 */
@media screen and (max-width: 1170px) {
  .header-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .menu-item:first-child {
    margin-left: 0 !important;
  }
  .main .main-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    position: relative !important;
    overflow: hidden !important;
  }
  .advantages-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    grid-template-columns: repeat(2, auto) !important;
    justify-content: center !important;
  }
  .advantages-container .advantages-info {
    display: grid !important;
    justify-items: center !important;
  }
  .advantages-container .advantages-info .advantages-title {
    text-align: center !important;
  }
  .advantages-container .advantages-info .advantages-text {
    max-width: 668px !important;
    text-align: center !important;
    margin-bottom: 40px !important;
  }
  .advantages-container .advantages-image {
    grid-column: 1 / 3 !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
  .advantages-container .advantage {
    margin-top: 80px !important;
    justify-content: center !important;
  }
  .advantages-container .advantage .advantage-circle {
    justify-self: center !important;
  }
  .advantages-container .advantage .advantage-title {
    justify-self: center !important;
  }
  .advantages-container .advantage .advantage-text {
    justify-self: center !important;
    text-align: center !important;
  }
  .products .products-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    grid-template-columns: repeat(2, auto) !important;
    justify-content: center !important;
    gap: 40px 30px !important;
  }
  .products .products-container .products-title {
    grid-column: 1 / 3 !important;
    margin-bottom: 41px !important;
  }
  .order-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .footer-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
@media screen and (max-width: 900px) {
  .main-container {
    grid-template-columns: 1fr !important;
    justify-content: center !important;
    padding: 54px 55px 62px 20px !important;
  }
  .main-container .main-title {
    margin-bottom: 74px !important;
  }
  .main-container .main-text {
    margin-bottom: 41px !important;
    max-width: 349px !important;
  }
  .main-container .main-image {
    margin-top: -80px !important;
    grid-column: 1 / 2 !important;
    grid-row: 4 / 5 !important;
    justify-content: right !important;
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    grid-template-columns: 115px 1fr !important;
  }
  .header-container .phone {
    display: none !important;
  }
  .order-container {
    padding: 120px 20px 0 20px !important;
  }
  .order-container .order-form {
    order: 1 !important;
    padding-left: 0 !important;
  }
  .order-container .order-form .order-action {
    margin-bottom: 120px !important;
  }
  .order-container .order-image {
    order: 2 !important;
    align-self: flex-end !important;
  }
  .order-container .order-strawberry-1 {
    left: unset !important;
    top: unset !important;
    bottom: 375px !important;
    right: 325px !important;
  }
  .order-container .order-strawberry-2 {
    bottom: 550px !important;
    right: 108px !important;
  }
  .footer-container {
    padding-top: 76px !important;
  }
}
@media screen and (max-width: 760px) {
  .main-container .main-image {
    margin-top: 38px !important;
  }
  .order-container {
    grid-template-columns: 1fr !important;
    justify-content: center !important;
  }
  .order-container .order-form {
    justify-self: center !important;
  }
  .order-container .order-image {
    display: none !important;
  }
  .order-container .order-strawberry-2 {
    display: none !important;
  }
  .order-container .order-strawberry-1 {
    bottom: 470px !important;
    right: 13px !important;
  }
}
@media screen and (max-width: 600px) {
  .header .header-container .burger {
    display: block !important;
    justify-self: right !important;
  }
  .header .header-container .menu {
    display: none !important;
    position: fixed !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
    background: #000000c9 !important;
    z-index: 9999 !important;
  }
  .header .header-container .menu .menu-list {
    margin: 0 auto !important;
  }
  .header .header-container .menu .menu-list .menu-item {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin: 0 auto !important;
    border-bottom: none !important;
  }
  .header .header-container .menu .menu-list .menu-item .menu-item-ref {
    margin: 20px 0 !important;
    font-size: 18px !important;
    color: #d99ca5 !important;
    border-bottom: none !important;
  }
  .header .header-container .menu.open {
    display: flex !important;
    align-items: center !important;
  }
  .header .header-container .menu .close {
    display: block !important;
    width: 24px !important;
    height: 24px !important;
    fill: #620917 !important;
    position: absolute !important;
    top: 20px !important;
    left: 20px !important;
  }
  .main-image {
    margin-left: 20px !important;
  }
  .products .products-container {
    grid-template-columns: 1fr !important;
    justify-content: center !important;
    gap: 40px 30px !important;
  }
  .products .products-container .products-title {
    grid-column: 1 / 2 !important;
  }
  .products .products-container .product {
    justify-self: center !important;
  }
}
@media screen and (max-width: 375px) {
  .header .header-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .main-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 44px !important;
    padding-bottom: 43px !important;
  }
  .main-container .main-title {
    font-size: 32px !important;
    text-align: center !important;
    margin-bottom: 40px !important;
  }
  .main-container .main-text {
    margin-bottom: 40px !important;
    text-align: center !important;
  }
  .main-container .main-action {
    text-align: center !important;
    margin-bottom: 38px !important;
  }
  .main-container .main-image {
    text-align: center !important;
    justify-content: center !important;
    margin: 0 !important;
  }
  .main-container .main-image .main-image-img {
    width: 250px !important;
  }
  .advantages .advantages-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding: 100px 15px !important;
  }
  .advantages .advantages-container .advantages-info .advantages-title {
    font-size: 30px !important;
    line-height: 1.167 !important;
    margin-bottom: 40px !important;
  }
  .advantages .advantages-container .advantages-info .advantages-text {
    font-size: 16px !important;
    line-height: 1.437 !important;
    margin-bottom: 60px !important;
  }
  .advantages .advantages-container .advantages-image {
    margin-bottom: 24px !important;
  }
  .advantages .advantages-container .advantage {
    margin-top: 36px !important;
  }
  .advantages .advantages-container .advantage .advantage-title {
    font-size: 18px !important;
  }
  .advantages .advantages-container .advantage .advantage-text {
    font-size: 13px !important;
  }
  .advantages .advantages-container .advantage .advantage-text {
    height: 145px !important;
    max-width: 165px !important;
  }
  .products-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding: 100px 15px 95px 15px !important;
    gap: 80px !important;
  }
  .products-container .products-title {
    font-size: 30px !important;
    margin-bottom: -15px !important;
  }
  .order-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 100px !important;
  }
  .order-container .order-form .order-form-title {
    font-size: 30px !important;
  }
  .order-container .order-form .order-form-text {
    font-size: 16px !important;
  }
  .order-container .order-form .order-input {
    width: 344px !important;
  }
  .order-container .order-form .order-action {
    margin-bottom: 77px !important;
  }
  .order-container .order-form .order-button {
    padding: 21px 102px !important;
  }
  #order-success .success-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  #order-success .success-container .success-text {
    font-size: 30px;
    margin-top: 325px;
    margin-bottom: 325px;
  }
  .footer-container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding: 50px 15px !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto auto !important;
    justify-items: center !important;
    gap: 40px !important;
  }
  .footer-container .footer-logo {
    grid-column: 1 !important;
    grid-row: 1 !important;
  }
  .footer-container .footer-rights {
    grid-column: 1 !important;
    grid-row: 4 !important;
  }
  .footer-container .footer-instagram {
    grid-column: 1 !important;
    grid-row: 3 !important;
  }
  .footer-container .phone-number {
    grid-column: 1 !important;
    grid-row: 2 !important;
    justify-self: center !important;
  }
  .present {
    right: 15px !important;
    bottom: 15px !important;
  }
  .present .present-image {
    width: 70px !important;
    height: 70px !important;
  }
  .present .present-image .present-image-img {
    max-width: 40px !important;
  }
  .present .present-image::before {
    width: 162px !important;
    top: 5px !important;
    left: -180px !important;
    padding: 11px 5px 9px 10px !important;
  }
  .present .present-image::after {
    top: 20px !important;
    left: -20px !important;
  }
}
