* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: GilroyRegular;
  src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
  font-family: GilroyMedium;
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
  font-family: GilroyBold;
  src: url("./assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
  font-family: GilroyExtraBold;
  src: url("./assets/fonts/Gilroy-ExtraBold.ttf");
}

@font-face {
  font-family: TavolgaFree;
  src: url("./assets/fonts/Tavolga Free.ttf");
}

body {
  font-family: TavolgaFree, sans-serif;
  position: relative;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}
