@font-face {
  src: url("/assets/fonts/MuseoSansCyrl500.otf");
  font-family: "Museo Sans Cyrl";
}

@font-face {
  src: url("/assets/fonts/MuseoSansCyrl700.otf");
  font-family: "Museo Sans Cyrl Bold";
}
