<section class="category-expenses-form">
    <div class="grand-title" id="form-title">Создание категории расходов</div>
    <div class="category-expenses-form-input">
        <input type="text" placeholder="Название..." class="form-control" id="form-input">
        <div class="category-expenses-form-action">
            <a href="#/category-expenses">
                <button type="button" class="btn btn-success" id="success">Создать</button>
            </a>
            <a href="#/category-expenses">
                <button type="button" class="btn btn-danger">Отмена</button>
            </a>
        </div>
    </div>
</section>