<section class="category-revenue">
    <div class="grand-title">Доходы</div>
    <div class="cards" id="categories-cards">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    Вы действительно хотите удалить категорию?<br>
                    Связанные доходы будут удалены навсегда.
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="delete-category">Да, удалить</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
            </div>
        </div>
    </div>
</section>