<section class="category-revenue-form">
    <div class="grand-title" id="form-title">Создание категории доходов</div>
    <div class="category-revenue-form-input">
        <input type="text" placeholder="Название..." class="form-control" id="form-input">
        <div class="category-revenue-form-action">
            <a href="#/category-revenue">
                <button type="button" class="btn btn-success" id="success">Создать</button>
            </a>
            <a href="#/category-revenue">
                <button type="button" class="btn btn-danger">Отмена</button>
            </a>
        </div>
    </div>
</section>