.revenue-expanses-form {
    margin-top: 40px;
    margin-left: 60px;
}

.revenue-expanses-action {
    display: flex;
}

.revenue-expanses-action .btn-success {
    margin-right: 10px;
}

.params {
    margin-top: 40px;
    margin-bottom: 40px;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.table-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.table-actions svg {
    margin-left: 10px;
}

@media screen and (max-width: 991px) {
    .revenue-expanses-form {
        margin-top: 20px;
        margin-left: 20px;
    }

    .params {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}