@import "variables";

.auth-form {
  margin: 120px 0;

  .auth-title {
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: $blue-text-color;
    margin-bottom: 40px;
  }

  .auth-inputs {


    .auth-input {
      margin-bottom: 5px;
      position: relative;

      input {
        width: 100%;
      }
    }

    .auth-error {
      color: red;
      font-size: 12px;
      z-index: 9999;
    }

    .auth-checkbox {
      margin-top: 10px;
      max-width: 100%;
      display: flex;
      align-items: center;

      input {
        margin: 0;
      }

      label {
        margin-top: 0;
        font-size: 14px;
        margin-left: 10px;

        a {
          color: $blue-text-color;
          text-decoration: none;
        }
      }
    }
  }

  .auth-actions {
    margin-top: 40px;

    button.button-big {
      width: 100%;
    }
  }

  .auth-link {
    margin-top: 10px;
    font-size: 14px;
    color: $gray-text-color;

    a {
      text-decoration: none;
      color: $blue-text-color;
    }
  }
}
