<header class="header">
  <div class="container header-container">
    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo" class="logo-image">
    </div>
    <div class="burger" id="burger">
      <img src="assets/images/burger.png" alt="Menu" class="burger-img">
    </div>
    <nav class="menu" id="menu">
      <div class="close">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
<g>
	<g>
		<path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
	</g>
</g>
</svg>
      </div>
      <ul class="menu-list">
        <li class="menu-item"><a class="menu-item-ref" href="#" (click)="scrollTo(productsElement)">Пироженки</a></li>
        <li class="menu-item"><a class="menu-item-ref" href="#" (click)="scrollTo(advantagesElement)">О нас</a></li>
        <li class="menu-item"><a class="menu-item-ref" href="#" (click)="scrollTo(orderElement)">Оформить заказ</a></li>
      </ul>
    </nav>
    <div class="phone">
      <span class="phone-number">{{phone | phoneNumber}}</span>
    </div>
  </div>
</header>

<section class="main">
  <div class="container main-container">
    <div class="main-title">Мягкие французские
      пироженки Macaroons
    </div>
    <div class="main-text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
      Macaroon!
    </div>
    <div class="main-action">
      <button class="button main-button" buttonColor defaultButtonBgColor='rgb(113, 8, 30)' hoverButtonBgColor='rgb(215, 72, 92)' (click)="scrollTo(productsElement)">Выбрать макарун</button>
    </div>
    <div class="main-image">
      <img src="assets/images/image-big.png" alt="Macaroon" class="main-image-img">
    </div>
  </div>
</section>

<section class="advantages" #advantagesElement>
  <div class="container advantages-container">
    <div class="advantages-info">
      <div class="advantages-title">Мы печём для вас вкуснейшие макаруны уже более 10 лет
      </div>
      <div class="advantages-text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
        маргарина,
        разрыхлителей и улучшителей муки.
      </div>
    </div>
    <div class="advantages-image">
      <img src="assets/images/image-big-2.png" alt="Macaroon" class="advantages-image-img">
    </div>
    <advantage-component *ngFor="let advantage of advantages; let ind=index;" [advantage]="advantage"
                         [index]="ind"></advantage-component>
  </div>
</section>

<section class="products" #productsElement>
  <div class="container products-container">
    <div class="products-title">
      Выберите свой макарун
    </div>
    <product-component class="products-list"  *ngFor="let product of products" [product]="product"
                       (addToCartEvent)="addToCart($event, orderElement)">
    </product-component>
  </div>
</section>

<section class="order" id="order" #orderElement>
  <div class="container order-container">
    <div class="order-image">
      <img src="assets/images/macaron.png" alt="Macaroon" class="order-image-img">
    </div>
    <div class="order-form">
      <div class="order-form-title">Закажите макарун!</div>
      <div class="order-form-text">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
        пекаря!
      </div>
      <div class="order-choose-text">Ваш выбор</div>
      <div class="order-input order-choose-input"><input type="text" id="choose"
                                                         placeholder="Напишите, что хотите заказать..."
                                                         class="input" [(ngModel)]="formValues.productTitle">
        <div class="error-input">Необходимо ввести заказ</div>
      </div>

      <div class="order-data-text">Заполните данные для заказа</div>
      <div class="order-input order-data-name"><input type="text" id="name" placeholder="Ваше имя" class="input"
                                                      [(ngModel)]="formValues.name">
        <div class="error-input">Необходимо ввести имя</div>
      </div>
      <div class="order-input order-data-phone"><input type="text" id="phone" placeholder="+375 (__) ___ - __ - __"
                                                       class="input" [(ngModel)]="formValues.phone">
        <div class="error-input">Необходимо ввести телефон</div>
      </div>
      <div class="order-action">
        <button class="button order-button" buttonColor defaultButtonBgColor='rgb(113, 8, 30)' hoverButtonBgColor='rgb(215, 72, 92)' (click)="createOrder()">Оформить заказ</button>
      </div>
    </div>
    <div class="order-strawberry-1">
      <img src="assets/images/strawberry.png" alt="Strawberry" class="strawberry-img-1">
    </div>
    <div class="order-strawberry-2">
      <img src="assets/images/strawberry2.png" alt="Strawberry" class="strawberry-img-2">
    </div>
  </div>
</section>

<section id="order-success" class="order">
  <div class="success-container">
    <div class="success-text">Спасибо за Ваш заказ. Мы скоро свяжемся с Вами!</div>
  </div>
</section>

<footer class="footer">
  <div class="container footer-container">
    <img src="assets/images/logo.png" alt="Logo" class="logo footer-logo">
    <div class="footer-rights">Все права защищены, 2020</div>
    <a href="{{insta_link}}" class="footer-instagram">
      <img src="assets/images/instagram.png" alt="Instagram" class="footer-instagram-img">
      <div class="footer-instagram-text">Мы в Instagram</div>
    </a>
    <div class="phone-number">{{phone | phoneNumber}}</div>
  </div>
</footer>

<div class="cart" *ngIf="showPresent">
  <div class="cart-image">
    <div class="cart-image-text">{{cartService.summ | currency:"RUB": ""}} руб.</div>
    <div class="cart-image-arrow"></div>
    <img src="assets/images/cart.png" alt="Cart" class="refactor-image-img">
  </div>
  <div class="cart-count">{{cartService.count}}</div>
</div>
